body {
    color: #444;
    font-family: Arial, Helvetica;
    margin: 0;
    padding: 0;
}

.main {
    clear: both;
    width: 100%;
}

.text-secondary {
    font-size: .7em;
}

.text-primary {
    font-size: 1em;
}

.text-bold {
    font-weight: 600;
}

h3 small {
    color: #3b453f;
    font-size: .7em;
}

.message {
    background-color: #f8f8f8;
    height: 50px;
    line-height: 50px;
    margin: 3px;
    padding-left: 5px;
}

.block_onlinesurvey_survey_list,
.block_onlinesurvey_survey_list .row {
    border-collapse: collapse;
}

.block_onlinesurvey_survey_list .caption,
.block_onlinesurvey_survey_list .row {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
}

.block_onlinesurvey_survey_list.table {
    display: table;
    width: 100%;
}

.block_onlinesurvey_survey_list .row {
    display: table-row;
    min-height: 85px;
}

.block_onlinesurvey_survey_list .cell {
    display: table-cell;
}

.block_onlinesurvey_survey_list .cell .nomargin,
.block_onlinesurvey_survey_list .cell h3 {
    margin: 0;
}

.block_onlinesurvey_survey_list .row,
.block_onlinesurvey_survey_list .row:nth-child(odd) {
    background-color: #e4e5e0;
}

.block_onlinesurvey_survey_list .row:nth-child(even) {
    background-color: #f8f8f8;
}

.block_onlinesurvey_survey_list .cell {
    padding: 5px 20px;
}

.block_onlinesurvey_survey_list .cell h3 {
    font-size: 1em;
}

.block_onlinesurvey_survey_list .cell.instructor {
    padding: 0 5px;
    width: 165px;
}

.block_onlinesurvey_survey_list .cell.information {
    padding: 0 5px;
    width: 140px;
}

.block_onlinesurvey_survey_list .cell.participate {
    padding: 0 20px 0 5px;
    width: 32px;
}

.block_onlinesurvey_survey_list .cell .submitted.positiv {
    color: #007934;
}

.block_onlinesurvey_survey_list .cell .negativ {
    color: #a31f34;
}

.block_onlinesurvey_survey_list .hint .row {
    background-color: #fff;
    color: #000;
    font-size: .7em;
}

.block_onlinesurvey_survey_list .hint .hint-icon {
    padding: 5px 0 5px 10px;
}

.block_onlinesurvey_survey_list .hint .hint-text {
    padding: 10px 20px 0 0;
}

.block_onlinesurvey_survey_list .profile-image,
.block_onlinesurvey_survey_list .secondary-profile-image {
    border-radius: 48px;
    height: 48px;
    width: 48px;
}

.block_onlinesurvey_survey_list .instructor-table {
    width: 100%;
}

.block_onlinesurvey_survey_list .image-link {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 32px 32px;
    display: block;
    height: 32px;
    width: 32px;
}

.block_onlinesurvey_survey_list .arrow-red {
    background-image: url("../images/arrow-red.png");
}

.block_onlinesurvey_survey_list .arrow-positiv {
    background-image: url("../images/arrow-blue.png");
}

.block_onlinesurvey_survey_list .result-html {
    background-image: url("../images/Report-HTML-icon.png");
}

.block_onlinesurvey_survey_list .cell .positiv {
    color: #267ca7;
}

.block_onlinesurvey_survey_list .participated .lti-logo {
    height: 32px;
    width: 32px;
}

@media (min-width: 601px) and (max-width: 900px) {
    .block_onlinesurvey_survey_list.table {
        font-size: 0.85em;
    }
    .block_onlinesurvey_survey_list .cell.information {
        width: 100px;
    }
    .block_onlinesurvey_survey_list .cell.survey {
        width: 70%;
    }
    .block_onlinesurvey_survey_list .profile-image,
    .block_onlinesurvey_survey_list .secondary-profile-image {
        border-radius: 32px;
        height: 32px;
        width: 32px;
    }
}

@media (min-width: 410px) and (max-width: 600px) {
    .block_onlinesurvey_survey_list .cell.instructor {
        display: none;
    }
    .block_onlinesurvey_survey_list .cell,
    .block_onlinesurvey_survey_list .lti-header {
        padding: 5px;
    }
    .block_onlinesurvey_survey_list.table {
        font-size: 0.85em;
    }
    .block_onlinesurvey_survey_list .lti-header .lti-logo {
        max-width: 150px;
    }
    .block_onlinesurvey_survey_list .cell.information {
        width: 100px;
    }
    .block_onlinesurvey_survey_list .cell.survey {
        width: 70%;
    }
    .block_onlinesurvey_survey_list .arrow-positiv,
    .block_onlinesurvey_survey_list .image-link,
    .block_onlinesurvey_survey_list .participated .lti-logo {
        height: 28px;
        width: 28px;
    }
    .block_onlinesurvey_survey_list .image-link {
        background-size: 28px 28px;
    }
}

@media (max-width: 409px) {
    .block_onlinesurvey_survey_list .cell.information,
    .block_onlinesurvey_survey_list .cell.instructor,
    .block_onlinesurvey_survey_list .hint.table {
        display: none;
    }
    .block_onlinesurvey_survey_list .cell.survey {
        width: 100%;
    }
    .block_onlinesurvey_survey_list .cell,
    .block_onlinesurvey_survey_list .lti-header {
        padding: 5px;
    }
    .block_onlinesurvey_survey_list.table {
        font-size: 0.8em;
    }
    .block_onlinesurvey_survey_list .lti-header .lti-logo {
        max-width: 90px;
        margin-top: -5px;
    }
    .block_onlinesurvey_survey_list .lti-header h2 {
        font-size: 1.3em;
    }
    .block_onlinesurvey_survey_list .arrow-positiv,
    .block_onlinesurvey_survey_list .image-link,
    .block_onlinesurvey_survey_list .participated .lti-logo {
        height: 24px;
        width: 24px;
    }
    .block_onlinesurvey_survey_list .image-link {
        background-size: 24px 24px;
    }
}

div.block_onlinesurvey_info {
    padding: 20px;
}
.block_onlinesurvey_survey_list.table .row {
    min-height: 0;
}
