.cell.centered, 
.closed, 
.image-link, 
.instructor-cell, 
.instructor-name, 
.secondary-instructor-cell,
    .secondary-instructor-name {
    text-align: center;
}

.cell, 
.image-link {
    vertical-align: middle;
}

body {
    font-family: Arial, Helvetica;
    color: #444;
    margin: 0px;
    padding: 0px;
}

.main {
    width: 100%;
    clear: both;
}

.text-secondary {
    font-size: .7em;
}

.text-primary {
    font-size: 1em;
}

.text-bold {
    font-weight: 600;
}

h3 small {
    color: #3b453f;
    font-size: .7em;
}

.message {
    background-color: #F8F8F8;
    margin: 3px;
    line-height: 50px;
    height: 50px;
    padding-left: 5px;
}

.survey_list, 
.survey_list .row {
    border-collapse: collapse;
}

.survey_list .caption, 
.survey_list .row {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .2);
}

.table {
    width: 100%;
    display: table;
}

.row {
    display: table-row;
    min-height: 85px;
}

.cell {
    display: table-cell;
}

.lti-header {
    display: table-caption;
    padding: 0 20px;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, .2);
    background-color: #706F6B;
    color: #fff;
}

.lti-header .lti-logo {
    float: right;
    margin-top: -10px;
}

.cell .nomargin, 
.cell h3 {
    margin: 0;
}

.row, .row:nth-child(odd) {
    background-color: #E4E5E0;
}

.row:nth-child(even) {
    background-color: #F8F8F8;
}

.cell {
    padding: 5px 20px;
}

.cell h3 {
    font-size: 1em;
}

.cell.instructor {
    width: 165px;
    padding: 0 5px;
}

.cell.information {
    width: 140px;
    padding: 0 5px;
}

.cell.participate {
    padding: 0 20px 0 5px;
    width: 32px;
}

.cell .submitted.positiv {
    color: #007934;
}

.cell .negativ {
    color: #A31F34;
}

.hint .row {
    font-size: .7em;
    color: #000;
    background-color: #FFF;
}

.hint .hint-icon {
    padding: 5px 0 5px 10px;
}

.hint .hint-text {
    padding: 10px 20px 0 0;
}

.profile-image, 
.secondary-profile-image {
    width: 48px;
    height: 48px;
    border-radius: 48px;
}

.instructor-table {
    width: 100%;
}

.image-link {
    display: block;
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center;
}

.arrow-red {
    background-image: url("../images/arrow-red.png");
}

.arrow-positiv {
    background-image: url("../images/arrow-blue.png");
}

.result-html {
    background-image: url("../images/Report-HTML-icon.png");
}

.cell .positiv {
    color: #267CA7;
}

.participated .lti-logo {
    width: 32px;
    height: 32px;
}

@media ( min-width :601px) and (max-width:900px) {
    .survey_list.table {
        font-size: 0.85em;
    }
    .cell.information {
        width: 100px;
    }
    .cell.survey {
        width: 70%;
    }
    .profile-image, 
    .secondary-profile-image {
        width: 32px;
        height: 32px;
        border-radius: 32px;
    }
}

@media ( min-width :410px) and (max-width:600px) {
    .cell.instructor {
        display: none;
    }
    .cell, .lti-header {
        padding: 5px;
    }
    .survey_list.table {
        font-size: 0.85em;
    }
    .lti-header .lti-logo {
        max-width: 150px;
    }
    .cell.information {
        width: 100px;
    }
    .cell.survey {
        width: 70%;
    }
    .arrow-positiv, 
    .image-link, 
    .participated .lti-logo {
        width: 28px;
        height: 28px;
    }
    .image-link {
        background-size: 28px 28px;
    }
}

@media ( max-width :409px) {
    .cell.information, 
    .cell.instructor, 
    .hint.table {
        display: none;
    }
    .cell.survey {
        width: 100%;
    }
    .cell, .lti-header {
        padding: 5px;
    }
    .survey_list.table {
        font-size: 0.8em;
    }
    .lti-header .lti-logo {
        max-width: 90px;
        margin-top: -5px;
    }
    .lti-header h2 {
        font-size: 1.3em;
    }
    .arrow-positiv, 
    .image-link, 
    .participated .lti-logo {
        width: 24px;
        height: 24px;
    }
    .image-link {
        background-size: 24px 24px;
    }
}

div.block_onlinesurvey_info {
    padding: 20px;
}
.survey_list.table .row {
    min-height: 0px;
}
