<div id="block_onlinesurvey_area" class="block_onlinesurvey_area block_onlinesurvey_offerzoom"
onClick="parent.document.getElementById('block_onlinesurvey_surveys_content').click(parent.document);">
<div class="block_onlinesurvey_circle" >
    <span class="block_onlinesurvey_number">
        <i class="fa fa-check"></i>
        </span>
    <div class="block_onlinesurvey_compact_magnifier">
        <i class="fa fa-search-plus"></i>
        </div>
    </div>
    <div class="block_onlinesurvey_text">{{#str}}surveys_exist_not, block_onlinesurvey {{/str}}</div>
</div>