<div id="block_onlinesurvey_area" class="block_onlinesurvey_area">
    <div class="block_onlinesurvey_circle">
        <span class="block_onlinesurvey_number"><i class="fa fa-check"></i></span>
    </div>
    <div class="block_onlinesurvey_text">{{#str}}surveys_exist_not, block_onlinesurvey {{/str}}</div>
</div>