<html>
<head>
    <title>{{title}}</title>
    {{#css}}
    <link rel="stylesheet" href="{{file}}">
    {{/css}}
    {{#additionalcss}}
    <style>{{{additionalcss}}}</style>
    {{/additionalcss}}
</head>
<body class="{{bodyclasses}}">
{{#error}}
{{#str}}error_occured, block_onlinesurvey, {{error}}{{/str}}
{{/error}}
{{{content}}}
{{{script}}}
</body>
</html>
