<div class="block_onlinesurvey_surveys_loading">
    <div class="block_onlinesurvey_lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div>