<div class="custom-modal_container">
	<div class="custom-modal custom-modal--iframe">
		<div class="custom-modal_close-button"></div>
		{{#title}}
		<div class="custom-modal_title">{{title}}</div>
		{{/title}}
		<div class="custom-modal_content">
			<iframe src="{{{src}}}"></iframe>
		</div>
	</div>
</div>
