<div class="custom-modal_container">
	<div class="custom-modal custom-modal--popupinfo">
		<div class="custom-modal_close-button"></div>
		{{#title}}
		<div class="custom-modal_title">{{title}}</div>
		{{/title}}
		{{#content}}
		<div class="custom-modal_content">{{{content}}}</div>
		{{/content}}
	</div>
</div>
